body{
       font-family: 'Roboto Slab', serif;
}

section{
    height: 500px;
    width: 100%;
}


/* --------------First section*/

.sec-1-banner{
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding: 50px;
    width: 95%;
    text-align: center;
}

.sec-1-banner h1{
    font-size: 45px;
    font-weight: 800;
    color: rgb(237, 239, 244);
}
.sec-1-banner p{
    color: rgb(230, 219, 219);
    font-size: larger
}

.anchor-button-sec-1{
    text-decoration: none;
    background: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


/* ------------------Second section*/

.sec-2-text{
    margin-top: -50px;
    text-align: center;
}

.sec-2-text p{
    color: rgb(122, 117, 117);
}

.div-count
{
    display: flex;
    padding-left: 30%;
}

  
.div-count p {
    background-color: #ebe8e8;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
 }

 #highlight
    {border-style: solid;
    background-color: #eebdbd;
    border-radius: 10%;
    }
 
    .amount-span
    {
color: rgb(149, 155, 153);

    }

/* ------------------Third section-3-donate plan-----------*/
.three-div-plan
{   
    display: flex;
    height: 350px;
    margin-left: 14%;
}

.plan-1-food
{
    width: 20%;
    text-align: left;
    padding: 2%;
    margin: 2%;
    background-color: antiquewhite;
}

.plan-2-shelter
{
    width: 20%;    
    text-align: left;
    padding: 2%;
    margin: 2%;
    background-color: rgb(201, 225, 245);
}

.plan-3-education
{
    width: 20%;
    text-align: left;
    padding: 2%;
    margin: 2%;
    background-color: rgb(246, 211, 239);
}

/*-------------------Section-4-(Optional-Covid-precaution )--------------------*/

.covid-precaution{
    background-color: rgb(238, 232, 237);
    text-align: center;
    margin: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    display: flex;   
    box-shadow: 5px 7px 40px gray;
}
#covid-text{
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: 15px;
    margin-top: 25px;
}

#covid-pic img
{
height: 300px;
}


/*-------------------sec-5 (optinal-2-Who we are)--------------------*/

.sec-5-Who-we-are
{
    background-color: rgb(214, 208, 213);
    text-align: center;
    padding-top: 10px;
    height: 450px;
}
  .div-5-pics
{   
    display: flex;
    text-align: center;
    margin-left: 13%;
}

.sec-5-Who-we-are img
{
    border-radius: 50%;  
}

.pic-div{
    margin: 25px 5%;
}

/*-------------------sec-6-FORM--------------------*/

.input_contact_us{
    background-color: rgb(238, 232, 237);
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    height: 400px;
    display: flex; 
}

#inputs{
border:solid 1px LightSlateGray;
width: 70%;
height: 300px;
margin:auto;
box-shadow: -10px 15px 20px #ccc;
padding-top: 50px;
}

.input-button
{
width: 300px;
height: 30px;
}

/*-------------------Footer----------*/
.footer-text{
text-align: center;
font-style: italic;
color: #ebe7e7;
background-color: rgb(71, 56, 143);
margin-top: -100px;
height: 200px;
padding-top: 50px;
}